@mixin normal-button($width, $height, $background-color, $text-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
  color: $text-color;
  border-radius: 50px;
  font-size: 26px;
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 1px $black;

  &:hover {
    background-color: rgba($background-color, 0.6);
    color: white;
  }

  &:focus {
    outline: 0;
  }
}

#play-button {
  @include normal-button(200px, 55px, $main, $accent);
}
