//colors
$main:            #F8CA00;
$dark-main:       #8f7500;
$accent:          #604621;
$dark-dirt:       #2d1c06;
$dark-gray:       #4A4A4A;
$black:           #333333;
$white:           #FFFFFF;
$social-gray:     #757575;
$facebook-blue:   #3b5998;
