/* footer */
html, body {
  height: 100%;
  margin: 0;
}

// NOTE: change margin-bottom and height to match the size of the total footer height
body {
  .wrapper {
    min-height: 100%;
    margin-bottom: -165px;

    .push {
      height: 165px;
    }
  }
}

footer {
  height: 165px;
}
