.navbar-default {
  border: none;
}

.navbar-right {
  margin-right: 0px;
}

#euphoria-navbar {
  background-color: transparent;

  .navbar-nav {
    li {
      .euphoria-link {
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
