.splash { //TODO: change splash.jpg... parallax?
  background-image: url("/assets/splash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  button { //TODO: move this button and add down scroll arrow button
    margin: auto;
  }

}
